<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeOpen.iiko.Back.Temperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BeOpen.iiko.Back.Temperature.Properties.Settings>
            <setting name="GetTemperatureUrl" serializeAs="String">
                <value>https://server.serviceinspector.ru/api/0/inspector/get_temperature_report?org_id=c0bcedb6-99d0-425f-a37f-34013d0c8cfd&amp;template_id=600e3215-7e21-4df3-8434-0e0b62b6bf09&amp;token=pTw0gyoVT_xtTV3LVZnaGBCKskNtadEI6Pie-IA1Bj4</value>
            </setting>
            <setting name="StoreId" serializeAs="String">
                <value>6ac394d9-ab89-45bc-b617-74cf35dcfe36</value>
            </setting>
        </BeOpen.iiko.Back.Temperature.Properties.Settings>
    </applicationSettings>
</configuration>